@font-face {
  font-family: "lato";
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

@mixin lato {
  font-family: "lato";
}

h3 {
  font-weight: 200;
}

.card h3 {
  font-weight: bold;
}

p span {
  font-weight: bold;
}
