//DISPLAY ROW
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin none {
  display: none;
}

//DISPLAY COLUMN

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

//CONTAINER
@mixin desktop-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 0;
}

//BTN
@mixin btn {
  padding: 20px;
  color: white;
  border-radius: 7px;
}
