//COLOR
$dark-blue: #112e3e;
$orange: orange;
$black: black;
$white: white;

//GAP
$gap-small: 0.5rem;
$gap-madium: 1rem;
$gap-large: 1.5rem;
$gap-extra-large: 2rem;

//FONT-WEIGHT
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
