@use "../abstracts/mixins";
@use "../abstracts/variables";

header {
  background-color: variables.$dark-blue;
  .header-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 17rem;
      img {
        width: 100%;
      }
    }
    nav {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          list-style: none;
          padding: 0 20px;
          border-right: solid variables.$white 1px;
          a {
            text-decoration: none;
            color: variables.$white;
            font-size: variables.$h4-size;
          }
        }
        li:last-child {
          border: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header-contain {
  }
}
