@use "../base/typographie";
@use "../abstracts/mixins";
@use "../abstracts/variables";

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 0;
}

//BTN

.btn {
  @include mixins.button(variables.$dark-blue, variables.$white);
}

//CARD

.cards-sections {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.card {
  flex: 1;
}

body {
  @include typographie.lato;
  margin: 0;
  padding: 0;
  text-align: center;

  .hero {
    background-image: url("../img/img espace renovation//img espace renovation/PHOTO-BUEAU.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    h1 {
      color: variables.$white;
      padding: 12% 80% 0 0;
      text-align: start;
      .h1-span {
        color: variables.$orange;
      }
    }
  }
}
